################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/EshopMicroServices
/src/Services/Catalog/Catalog.Api/obj/Debug/net8.0
/src/Services/Catalog/Catalog.Api/obj
